// 화면 비율
$main_height: 100vh;
$main_height_1: 10vh;
$main_height_2: 100vh;

// $image-bg-color: white;
// $image-max-width: 100%;
// $image-max-height: 100%;
// $image-object-fit: contain;
// $container-padding: 10px;

#MainView {
    width: 100%;
    height: $main_height;
    min-height: $main_height;
    max-width: 768px; /* 최대 너비를 768px로 설정 */
    border: 1px solid red;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}