//라이트 테마
:root {
    --border-color-1: #0F1035;
    --border-color-2: #C4C4C4;
    --background-color-1: #0F1035;
    --background-color-2: #ffffff;
    --background-color-3: rgba(188, 225, 255, 0.393);
    --text-color-1: #0F1035;
    --text-color-2: #ffffff;
}

//다크 테마
.dark-mode {
--border-color-1: #ffffff;
--border-color-2: #C4C4C4;
--background-color-1: #ffffff;
--background-color-2: #0F1035;
--background-color-3: rgb(184, 193, 201);
--text-color-1: #ffffff;
--text-color-2: #0F1035;
}